@font-face {
  font-family: "Streetwear";
  src: url("../Font_assets/Streetwear.otf");
}
@font-face {
  font-family: "JerseyMesh";
  src: url("../Font_assets/PROMESHMesh-Regular.ttf");
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slideshow {
  position: fixed;
  top: 93px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.each-slide-effect > img {
  object-fit: cover;
  object-position: top center;
  width: 100%;
}

.each-slide-effect {
  width: 100%;
}

.quote-container {
  background: repeating-linear-gradient(
    to right,
    #ac020266,
    #ac020266 10px,
    #ecf1fd66 10px,
    #ecf1fd66 20px
  );
  background-color: #ffffff38;
  padding: 50px;
  margin-top: 93px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote {
  font-family: "Streetwear", monospace;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0 0 3px #eff6f7b9, 0 0 5px #ac0202;
 
}

.author {
  font-family: "JerseyMesh", monospace;
  font-size: 40px;
  color: #024496;
  text-shadow: 0 0 3px #eff6f7b9, 0 0 5px #d1d1d1;
  margin-left: 200px;
}
