.navbar {
  display: flex;
  justify-content: center;
  background-color: #023375;
  padding: 10px 0;
  z-index: 11;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}
.navbar-title {
  color: #D6A56F;
  margin-right: 50px;
  padding-top: 8px;
  font-size: 1.5rem;
}
.navbar-link {
  color: #D6A56F;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}
.button {
    border: #D6A56F;
    background-color: #023375;
    color: #D6A56F
}
.button:hover{
    background-color: #023375;
    color: white
}
.navbar-link:hover {
  background-color: #023375;
  color: white ;
}


@media (max-width: 600px) {
  .navbar-links {
    flex-direction: column;
    align-items: center;
  }
}